@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    color: pink;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: fit-content;
    margin: auto;
  }
  
  input {
    display: flex;
    width: 670px;
  
    padding: 25px;
  }
  
  ul {
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
    padding: 0;
  }
  
  li {
    list-style: none;
    border: rgb(209, 209, 209) 1px solid;
    padding: 25px;
  }
  
  .container {
    width: 700px;
  
    margin: auto;
  }
  
  .deleteButton {
    float: right;
    border: none;
  
    font-size: 20px;
    color: black;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;
    display: none;
  }
  
  li:hover .deleteButton {
    display: block;
  }
  